html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $base-color;
  font-family: $base-font-face;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
